@model IEnumerable<eIngressos.Models.Movies>
@using System.Linq

@{
ViewData["Title"] = "Index";
}

<div>
    <h1 class="mb-4 text-xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-4xl p-6">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Filmes</span>
    </h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0 p-8">
    @foreach (var movie in Model) {
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg w-full h-48 object-cover" src="@movie.Image" alt="@movie.Title image" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">@movie.Title</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">@movie.Category</p>
            <div class="flex justify-between flex-wrap mt-4">
                <a href="@Url.Action("Purchase", new { id = movie.Id })" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-3 py-2 text-center mb-2">Purchase</a>
                <a href="@Url.Action("Details", new { id = movie.Id })" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-3 py-2 text-center mb-2">Details</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", new { id = movie.Id })" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-3 py-2 text-center mb-2">Edit</a>
                    <a href="@Url.Action("Delete", new { id = movie.Id })" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-3 py-2 text-center mb-2">Delete</a>
                }
            </div>
        </div>
    </div>
    }
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
<div class="flex justify-end mb-4 p-6">
    <a asp-action="Create" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Create New</a>
</div>}